<div class="container">
  <div class="row">
      <div class="col-12 col-md-4">
       <div class="card">
        <img class="card-img" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ object?.backdrop_path  }}" alt="">
      </div>
    </div>
    &nbsp;
    <div class="col-12 col-md-7">
      <div class="card">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit(date)">
         <div class="form-group">  
          <div class="card-header">
            <div class="row"> 
              <div class="col">
                <p><strong for="titulo">Título</strong></p>
                <input type="text" formControlName="titulo" placeholder="Digite o titulo" [(ngModel)]="object.title"  class="form-control form-control-lg"><br>
               
                <p><strong for="dataLancamento">Data Lançamento (AAAA-MM-DD)</strong></p>
                <input type="text" #date formControlName="dataLancamento" placeholder="aaaa-mm-dd" 
                 [brmasker]="{mask:'0000-00-00', len:10}" [(ngModel)]="object.release_date" class="form-control form-control-lg">
                </div>

                <div class="col-4">
                  <button type="button" (click)="previousUrl()" class="btn btn-primary btn-sm float-right">Voltar</button>
                </div> 

               
             </div>
          </div>
            <div class="card-body">
                 <p><strong for="sinopse">Sinopse:</strong></p>
                  <textarea rows="4" cols="50" id="sinopse" [(ngModel)]="object.overview" formControlName="sinopse" placeholder="Digite a sinopse" class="form-control form-control-lg"
                      [ngClass]="{ 'is-invalid': submitted && f.username.errors }" >
                  </textarea>
                  <br>
                  <div class="row">
                    <div class="col-4">
                        <p><strong for="duracao">Duração:</strong></p>
                        <input id="duracao" type="number"  formControlName="duracao" placeholder="Digite a duração" [(ngModel)]="object.runtime"  class="form-control form-control-lg">
                    </div>
                  </div>
                  <br>
                 

                  <div class="row">
                    <div class="col-6">
                        <p><strong>Gêneros:</strong> </p> 
                    </div>
                    <div class="col-6">
                        <p><strong>Gêneros Selecionados:</strong> </p> 
                    </div>

                  </div>
                   
                    <div class="row">
                        <div class="col-5">
                            <select class="mdb-select colorful-select dropdown-primary md-form" multiple [(ngModel)]="selectedValueListAll"
                            (ngModelChange)="onChangeAll($event)" formControlName="genresAll">
                                <option value="" disabled selected>Escolha o genero..</option>
                                <option *ngFor="let genero of listGenres" [ngValue]="genero">{{genero.name}}</option>
                              </select>
                        </div>
                         <div class=col-1-center>
                          <button type="button" (click)="addGenres()" >></button><br><br>
                          <button type="button" (click)="removeGenres()" ><</button>

                         </div>
                      
                         <div class="col-6 text-center">
                             
                            <select class="mdb-select colorful-select dropdown-primary md-form" multiple  [(ngModel)]="selectedValueOld"
                            (ngModelChange)="onChangeOld($event)" formControlName="genresOld" >
                                <option *ngFor="let genre of genreMovie" [ngValue]="genre">{{genre.name}}</option>
                              </select>
                        </div>
                    </div>
                                    
                    <br/>  <br/>
                      <br><br>
                    <div class="row">
                      <div class="col-8">

                      </div>
                      <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-sm float-right">Salvar</button>
                      </div>

                    </div>
                   
              </div>     
           </div>
          </form>
        </div>
      </div>
    </div>
  </div>