<nav class="navbar navbar-expand navbar-light bg-light">

  <a class="navbar-brand mr-md-2 mr-0" routerLink="/" aria-label="NG Bootstrap" (click)="navbarCollapsed = true">
    <img src="../assets/pitang.jpg" class="img-logo rounded-circle" alt="">
    <span class="ml-2 d-xl-none d-lg-none d-md-none d-inline">pitang project</span>
  </a>

  <div class="navbar-nav-scroll" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" id="navbarNavDropdown" > 
    <ul class="navbar-nav flex-row">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/filmes']" (click)="navbarCollapsed = true">Filmes</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/series']" (click)="navbarCollapsed = true">Séries</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/pessoas']" (click)="navbarCollapsed = true">Pessoas</a>
        </li>    
    </ul>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            
          </li>
      </ul>
    </div>
  </div>

</nav>
&nbsp;
<div class="container">
  <router-outlet></router-outlet>
</div>